<section class="operator-section">
  <h1 class="operator-section__header">Creation Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/observable-create" routerLinkActive="active">Observable.create()</button>
  <button type="button" class="btn btn-primary" routerLink="/observable-of" routerLinkActive="active">Observable.of()</button>
  <button type="button" class="btn btn-primary" routerLink="/observable-from" routerLinkActive="active">Observable.from()</button>
  <button type="button" class="btn btn-primary" routerLink="/observable-from-event" routerLinkActive="active">Observable.fromEvent()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Transformation Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/switch-map" routerLinkActive="active">.switchMap()</button>
  <button type="button" class="btn btn-primary" routerLink="/merge-map" routerLinkActive="active">.mergeMap()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Filtering Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/filter" routerLinkActive="active">.filter()</button>
  <button type="button" class="btn btn-primary" routerLink="/take" routerLinkActive="active">.take()</button>
  <button type="button" class="btn btn-primary" routerLink="/first" routerLinkActive="active">.first()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Combination Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/combine-latest" routerLinkActive="active">.combineLatest()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Multicasting Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/publish" routerLinkActive="active">.publish()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Error Handling Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/catch" routerLinkActive="active">.catch()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Utility Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/do" routerLinkActive="active">.do()</button>
  <button type="button" class="btn btn-primary" routerLink="/to-promise" routerLinkActive="active">.toPromise()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Conditional and Boolean Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/find" routerLinkActive="active">.find()</button>
</section>

<section class="operator-section">
  <h1 class="operator-section__header">Mathematical and Aggregate Operators</h1>
  <button type="button" class="btn btn-primary" routerLink="/count" routerLinkActive="active">.count()</button>
  <button type="button" class="btn btn-primary" routerLink="/reduce" routerLinkActive="active">.reduce()</button>
</section>
